# Ejercicio 1

## Creación de una bases de datos de películas extraídas de un API

En este ejercicio vamos a poner en práctica lo que hemos aprendido sobre la extracción de contenido de APIs y la creación de una base de datos con sus tablas. Siguiendo las fases propuestas, conseguiremos extraer datos de películas, almacenarlos en un DataFrame y finalmente crear una base de datos con la estructura adecuada.

Fase 1: Extracción de datos de películas

Nuestro primer objetivo es extraer los datos de películas de la API. En Adalab nos hemos creado un API
muy sencilla que contiene la siguiente información:
Datos a extraer:
- Título
- Año de lanzamiento
- Duración (en minutos)
- Género
- Contenido para adultos (sí o no)


El objetivo es extraer 100 películas de esta API utilizando el siguiente endpoint:
https://beta.adalab.es/resources/apis/pelis/pelis.json

In [15]:
import requests
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error

In [16]:
url_films = "https://beta.adalab.es/resources/apis/pelis/pelis.json"
films = requests.get(url_films)

In [17]:
films.status_code

200

In [18]:
film_data = films.json()
film_data

[{'id': 1,
  'titulo': 'The Godfather',
  'año': 1972,
  'duracion': 175,
  'genero': 'Crimen',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 2,
  'titulo': 'The Godfather Part II',
  'año': 1974,
  'duracion': 202,
  'genero': 'Crimen',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 3,
  'titulo': 'Pulp Fiction',
  'año': 1994,
  'duracion': 154,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 4,
  'titulo': 'Forrest Gump',
  'año': 1994,
  'duracion': 142,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 5,
  'titulo': 'The Dark Knight',
  'año': 2008,
  'duracion': 152,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 6,
  'titulo': 'Fight Club',
  'año': 1999,
  'duracion': 139,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 7,
  'titulo': 'Inception',
  'año': 2010,
  'duracion': 148,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en', 'de']},
 {'id': 8,
  'titulo': 'The Matrix',
  'año': 1999,
  'duracion': 136,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 9,
  'titulo': 'The Shawshank Redemption',
  'año': 1994,
  'duracion': 142,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 10,
  'titulo': 'Interstellar',
  'año': 2014,
  'duracion': 169,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 11,
  'titulo': 'Gladiator',
  'año': 2000,
  'duracion': 155,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 12,
  'titulo': 'Titanic',
  'año': 1997,
  'duracion': 195,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 13,
  'titulo': 'Avatar',
  'año': 2009,
  'duracion': 162,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 14,
  'titulo': 'Saving Private Ryan',
  'año': 1998,
  'duracion': 169,
  'genero': 'Bélico',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 15,
  'titulo': 'The Silence of the Lambs',
  'año': 1991,
  'duracion': 118,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 16,
  'titulo': 'Se7en',
  'año': 1995,
  'duracion': 127,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 17,
  'titulo': 'Goodfellas',
  'año': 1990,
  'duracion': 146,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 18,
  'titulo': 'The Departed',
  'año': 2006,
  'duracion': 151,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 19,
  'titulo': 'Whiplash',
  'año': 2014,
  'duracion': 106,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 20,
  'titulo': 'La La Land',
  'año': 2016,
  'duracion': 128,
  'genero': 'Musical',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 21,
  'titulo': 'The Lord of the Rings: The Fellowship of the Ring',
  'año': 2001,
  'duracion': 178,
  'genero': 'Fantasía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 22,
  'titulo': 'The Lord of the Rings: The Two Towers',
  'año': 2002,
  'duracion': 179,
  'genero': 'Fantasía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 23,
  'titulo': 'The Lord of the Rings: The Return of the King',
  'año': 2003,
  'duracion': 201,
  'genero': 'Fantasía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 24,
  'titulo': 'Star Wars: A New Hope',
  'año': 1977,
  'duracion': 121,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 25,
  'titulo': 'Star Wars: The Empire Strikes Back',
  'año': 1980,
  'duracion': 124,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 26,
  'titulo': 'Star Wars: Return of the Jedi',
  'año': 1983,
  'duracion': 131,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 27,
  'titulo': 'Back to the Future',
  'año': 1985,
  'duracion': 116,
  'genero': 'Aventura',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 28,
  'titulo': 'Jurassic Park',
  'año': 1993,
  'duracion': 127,
  'genero': 'Aventura',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 29,
  'titulo': 'The Lion King',
  'año': 1994,
  'duracion': 88,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 30,
  'titulo': 'Toy Story',
  'año': 1995,
  'duracion': 81,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 31,
  'titulo': 'Finding Nemo',
  'año': 2003,
  'duracion': 100,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 32,
  'titulo': 'Shrek',
  'año': 2001,
  'duracion': 90,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 33,
  'titulo': 'The Incredibles',
  'año': 2004,
  'duracion': 115,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 34,
  'titulo': 'WALL·E',
  'año': 2008,
  'duracion': 98,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 35,
  'titulo': 'Up',
  'año': 2009,
  'duracion': 96,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 36,
  'titulo': 'Spirited Away',
  'año': 2001,
  'duracion': 125,
  'genero': 'Animación',
  'adultos': False,
  'subtitulos': ['es', 'en', 'jp']},
 {'id': 37,
  'titulo': 'Princess Mononoke',
  'año': 1997,
  'duracion': 134,
  'genero': 'Animación',
  'adultos': True,
  'subtitulos': ['es', 'en', 'jp']},
 {'id': 38,
  'titulo': 'The Green Mile',
  'año': 1999,
  'duracion': 189,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 39,
  'titulo': 'The Truman Show',
  'año': 1998,
  'duracion': 103,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 40,
  'titulo': 'The Social Network',
  'año': 2010,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 41,
  'titulo': 'Joker',
  'año': 2019,
  'duracion': 122,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 42,
  'titulo': 'Black Panther',
  'año': 2018,
  'duracion': 134,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 43,
  'titulo': 'Iron Man',
  'año': 2008,
  'duracion': 126,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 44,
  'titulo': 'The Avengers',
  'año': 2012,
  'duracion': 143,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 45,
  'titulo': 'Avengers: Endgame',
  'año': 2019,
  'duracion': 181,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 46,
  'titulo': 'Dune',
  'año': 2021,
  'duracion': 155,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 47,
  'titulo': 'Mad Max: Fury Road',
  'año': 2015,
  'duracion': 120,
  'genero': 'Acción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 48,
  'titulo': 'The Revenant',
  'año': 2015,
  'duracion': 156,
  'genero': 'Aventura',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 49,
  'titulo': 'Parasite',
  'año': 2019,
  'duracion': 132,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en', 'ko']},
 {'id': 50,
  'titulo': 'Oldboy',
  'año': 2003,
  'duracion': 120,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en', 'ko']},
 {'id': 51,
  'titulo': 'The Pianist',
  'año': 2002,
  'duracion': 150,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 52,
  'titulo': 'The Wolf of Wall Street',
  'año': 2013,
  'duracion': 180,
  'genero': 'Biografía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 53,
  'titulo': 'Her',
  'año': 2013,
  'duracion': 126,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 54,
  'titulo': 'Gravity',
  'año': 2013,
  'duracion': 91,
  'genero': 'Ciencia ficción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 55,
  'titulo': 'The Shape of Water',
  'año': 2017,
  'duracion': 123,
  'genero': 'Fantasía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 56,
  'titulo': 'Get Out',
  'año': 2017,
  'duracion': 104,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 57,
  'titulo': 'It',
  'año': 2017,
  'duracion': 135,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 58,
  'titulo': 'The Conjuring',
  'año': 2013,
  'duracion': 112,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 59,
  'titulo': 'A Quiet Place',
  'año': 2018,
  'duracion': 90,
  'genero': 'Terror',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 60,
  'titulo': 'The Exorcist',
  'año': 1973,
  'duracion': 122,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 61,
  'titulo': 'The Shining',
  'año': 1980,
  'duracion': 144,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 62,
  'titulo': 'Blade Runner',
  'año': 1982,
  'duracion': 117,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 63,
  'titulo': 'Blade Runner 2049',
  'año': 2017,
  'duracion': 164,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 64,
  'titulo': 'Alien',
  'año': 1979,
  'duracion': 117,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 65,
  'titulo': 'Aliens',
  'año': 1986,
  'duracion': 137,
  'genero': 'Ciencia ficción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 66,
  'titulo': 'The Terminator',
  'año': 1984,
  'duracion': 107,
  'genero': 'Acción',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 67,
  'titulo': 'Terminator 2: Judgment Day',
  'año': 1991,
  'duracion': 137,
  'genero': 'Acción',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 68,
  'titulo': 'Rocky',
  'año': 1976,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 69,
  'titulo': 'Raging Bull',
  'año': 1980,
  'duracion': 129,
  'genero': 'Biografía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 70,
  'titulo': 'Taxi Driver',
  'año': 1976,
  'duracion': 113,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 71,
  'titulo': 'Casablanca',
  'año': 1942,
  'duracion': 102,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 72,
  'titulo': 'Citizen Kane',
  'año': 1941,
  'duracion': 119,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 73,
  'titulo': 'Psycho',
  'año': 1960,
  'duracion': 109,
  'genero': 'Terror',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 74,
  'titulo': 'Vertigo',
  'año': 1958,
  'duracion': 128,
  'genero': 'Suspense',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 75,
  'titulo': 'Rear Window',
  'año': 1954,
  'duracion': 112,
  'genero': 'Suspense',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 76,
  'titulo': '12 Angry Men',
  'año': 1957,
  'duracion': 96,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 77,
  'titulo': "Schindler's List",
  'año': 1993,
  'duracion': 195,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 78,
  'titulo': 'American Beauty',
  'año': 1999,
  'duracion': 122,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 79,
  'titulo': 'No Country for Old Men',
  'año': 2007,
  'duracion': 122,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 80,
  'titulo': 'The Big Lebowski',
  'año': 1998,
  'duracion': 117,
  'genero': 'Comedia',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 81,
  'titulo': 'Amélie',
  'año': 2001,
  'duracion': 122,
  'genero': 'Romance',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 82,
  'titulo': 'The Intouchables',
  'año': 2011,
  'duracion': 112,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'fr']},
 {'id': 83,
  'titulo': 'City of God',
  'año': 2002,
  'duracion': 130,
  'genero': 'Crimen',
  'adultos': True,
  'subtitulos': ['es', 'en', 'pt']},
 {'id': 84,
  'titulo': "Pan's Labyrinth",
  'año': 2006,
  'duracion': 118,
  'genero': 'Fantasía',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 85,
  'titulo': 'Roma',
  'año': 2018,
  'duracion': 135,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 86,
  'titulo': 'Slumdog Millionaire',
  'año': 2008,
  'duracion': 120,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 87,
  'titulo': 'Million Dollar Baby',
  'año': 2004,
  'duracion': 132,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 88,
  'titulo': "The King's Speech",
  'año': 2010,
  'duracion': 118,
  'genero': 'Biografía',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 89,
  'titulo': 'Argo',
  'año': 2012,
  'duracion': 120,
  'genero': 'Thriller',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 90,
  'titulo': 'Moonlight',
  'año': 2016,
  'duracion': 111,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 91,
  'titulo': 'Manchester by the Sea',
  'año': 2016,
  'duracion': 137,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 92,
  'titulo': 'Birdman',
  'año': 2014,
  'duracion': 119,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 93,
  'titulo': 'Django Unchained',
  'año': 2012,
  'duracion': 165,
  'genero': 'Western',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 94,
  'titulo': 'Inglourious Basterds',
  'año': 2009,
  'duracion': 153,
  'genero': 'Bélico',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 95,
  'titulo': 'The Hateful Eight',
  'año': 2015,
  'duracion': 168,
  'genero': 'Western',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 96,
  'titulo': 'La vita è bella',
  'año': 1997,
  'duracion': 116,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en', 'it']},
 {'id': 97,
  'titulo': 'Requiem for a Dream',
  'año': 2000,
  'duracion': 102,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 98,
  'titulo': 'Memento',
  'año': 2000,
  'duracion': 113,
  'genero': 'Thriller',
  'adultos': True,
  'subtitulos': ['es', 'en']},
 {'id': 99,
  'titulo': 'Eternal Sunshine of the Spotless Mind',
  'año': 2004,
  'duracion': 108,
  'genero': 'Drama',
  'adultos': False,
  'subtitulos': ['es', 'en']},
 {'id': 100,
  'titulo': 'Donnie Darko',
  'año': 2001,
  'duracion': 113,
  'genero': 'Drama',
  'adultos': True,
  'subtitulos': ['es', 'en']}]

In [19]:
df_film_data = pd.DataFrame(film_data)
df_film_data

,id,titulo,año,duracion,genero,adultos,subtitulos
0,1,The Godfather,1972,175,Crimen,False,"[es, en]"
1,2,The Godfather Part II,1974,202,Crimen,False,"[es, en]"
2,3,Pulp Fiction,1994,154,Crimen,True,"[es, en]"
3,4,Forrest Gump,1994,142,Drama,False,"[es, en, fr]"
4,5,The Dark Knight,2008,152,Acción,False,"[es, en]"
...,...,...,...,...,...,...,...
95,96,La vita è bella,1997,116,Drama,False,"[es, en, it]"
96,97,Requiem for a Dream,2000,102,Drama,True,"[es, en]"
97,98,Memento,2000,113,Thriller,True,"[es, en]"
98,99,Eternal Sunshine of the Spotless Mind,2004,108,Drama,False,"[es, en]"
99,100,Donnie Darko,2001,113,Drama,True,"[es, en]"

# Inserción de los Datos en la Base de Datos

En este apartado vamos a realizar la inserción de los datos extraídos en las tablas creadas en nuestra base de datos MySQL.

In [38]:
try:
    cnx = mysql.connector.connect(
        host='localhost',
        user='root',
        password='AlumnaAdalab',
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS films_db"
    mycursor.execute(query)
    print("Query exitosa")
except:
    print("Error.")

Conexión exitosa
Query exitosa

In [21]:
mycursor.execute("USE films_db")

query = '''CREATE TABLE IF NOT EXISTS films(
	idFilm INT,
    title VARCHAR(70) NOT NULL,
    year YEAR,
    runtime INT,
    genre VARCHAR(45),
    rating BOOLEAN,
    PRIMARY KEY (idFilm)
);'''
mycursor.execute(query)

query = '''CREATE TABLE IF NOT EXISTS languages(
    idLang INT AUTO_INCREMENT,
    language VARCHAR(45) UNIQUE NOT NULL,
    PRIMARY KEY (idLang)
);'''
mycursor.execute(query)

query = '''CREATE TABLE IF NOT EXISTS subtitles_films(
    idFilm INT NOT NULL,
    idLang INT NOT NULL,
    PRIMARY KEY (idFilm, idLang),
    FOREIGN KEY (idFilm) REFERENCES films(idFilm),
    FOREIGN KEY (idLang) REFERENCES languages(idLang)
);'''

mycursor.execute(query)

In [22]:
mycursor.execute("USE films_db")

for index, film in df_film_data.iterrows(): 
    
    query_insert = '''INSERT INTO films (idFilm, title, year, runtime, genre, rating) 
                      VALUES (%s, %s, %s, %s, %s, %s);
                      '''
    
    values = (
        film['id'], 
        film['titulo'], 
        film['año'], 
        film['duracion'], 
        film['genero'], 
        film['adultos']
    )
    
    mycursor.execute(query_insert, values)

    idFilm = film['id']

    for subtitle in film['subtitulos']:       
        
        idLang = None
        query_insert_lang = '''INSERT IGNORE INTO languages (language) 
                            VALUES (%s);
                            '''
        # con el IGNORE aunque se ignore el valor que se repite, el autoincrement reserva un ID para ese valor ignorado.
        mycursor.execute(query_insert_lang, (subtitle,))

        query_select_lang = """SELECT idLang
                            FROM languages
                            WHERE language = %s
                            """
        mycursor.execute(query_select_lang, (subtitle,))        
        
        idLang = mycursor.fetchone()[0]

        query_insert_relation = '''INSERT INTO subtitles_films (idFilm, idLang) 
                                VALUES (%s, %s)'''
        
        valuesLang = (
            idFilm, 
            idLang
        )
        
        mycursor.execute(query_insert_relation, valuesLang)


cnx.commit()
cnx.close()




# df_clean = df_film_data.replace({np.nan: None, 'nan': None, 'NaN': None})
# data = df_clean.values.tolist()
# mycursor.executemany(query_insert, data)
# cnx.commit()

IntegrityError: 1062 (23000): Duplicate entry '1' for key 'films.PRIMARY'

¿Cuántas películas tienen una duración superior a 120 minutos?

In [39]:
mycursor.execute("USE films_db")

query = '''SELECT COUNT(idFilm) as CantidadPeliculas 
        FROM films
        WHERE runtime >= 120'''
mycursor.execute(query)
df = pd.read_sql(query, cnx)
print(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15388\1560585611.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

InternalError: Unread result found

¿Cuántas películas incluyen subtítulos en español?

¿Cuántas películas tienen contenido adulto?

¿Cuál es la película más antigua registrada en la base de datos?

Muestra el promedio de duración de las películas agrupado por género.

¿Cuántas películas por año se han registrado en la base de datos? Ordena de mayor a menor.

¿Cuál es el año con más películas en la base de datos

Obtén un listado de todos los géneros y cuántas películas corresponden a cada uno.

Muestra todas las películas cuyo título contenga la palabra "Godfather" (puedes usar cualquier palabra).