# Consultas

In [43]:
import requests
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error

try:
    cnx = mysql.connector.connect(
        host='localhost',
        user='root',
        password ='AlumnaAdalab',
        database = 'films_db',
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS films_db"
    mycursor.execute(query)
    print("Query exitosa")
except:
    print("Error.")

Conexión exitosa
Query exitosa

1. ¿Cuántas películas tienen una duración superior a 120 minutos?

In [44]:
mycursor.execute('''SELECT COUNT(idFilm) as amount 
FROM films
WHERE runtime >= 120''')
myresult = mycursor.fetchone()
myresult

(65,)

2. ¿Cuántas películas incluyen subtítulos en español?

In [45]:

mycursor.execute("""SELECT COUNT(films.idFilm) as amount
                    FROM films
                    INNER JOIN subtitles_films ON films.idFilm = subtitles_films.idFilm
                    INNER JOIN languages ON languages.idLang = subtitles_films.idLang
                    WHERE languages.language = 'es'"""
                 )
myresult = mycursor.fetchone()
myresult

(100,)

3. ¿Cuántas películas tienen contenido adulto?

In [46]:
mycursor.execute("""SELECT COUNT(idFilm) as amount
                    FROM films
                    WHERE rating IS true"""
                 )
myresult = mycursor.fetchone()
myresult

(47,)

4. ¿Cuál es la película más antigua registrada en la base de datos?

In [47]:
mycursor.execute("""SELECT title , year
FROM films
ORDER BY year asc LIMIT 1""")
myresult = mycursor.fetchall()
myresult

[('Citizen Kane', 1941)]

5. Muestra el promedio de duración de las películas agrupado por género.

In [48]:


mycursor.execute("""SELECT genre, AVG(runtime) as AverageRuntime
                    FROM films
                    GROUP BY genre"""
                 )
myresult = mycursor.fetchall()
myresult

[('Crimen', Decimal('154.2857')),
 ('Drama', Decimal('126.2593')),
 ('Acción', Decimal('139.4444')),
 ('Ciencia ficción', Decimal('136.3077')),
 ('Romance', Decimal('139.6667')),
 ('Bélico', Decimal('161.0000')),
 ('Thriller', Decimal('121.6667')),
 ('Musical', Decimal('128.0000')),
 ('Fantasía', Decimal('159.8000')),
 ('Aventura', Decimal('133.0000')),
 ('Animación', Decimal('103.0000')),
 ('Biografía', Decimal('142.3333')),
 ('Terror', Decimal('116.5714')),
 ('Suspense', Decimal('120.0000')),
 ('Comedia', Decimal('117.0000')),
 ('Western', Decimal('166.5000'))]

6. ¿Cuántas películas por año se han registrado en la base de datos? Ordena de mayor a menor.

In [49]:
mycursor.execute("""SELECT year, COUNT(idFilm) as amount
                    FROM films
                    GROUP BY year
                    ORDER BY amount desc"""
                 )
myresult = mycursor.fetchall()
myresult

[(2001, 5),
 (2013, 4),
 (1994, 4),
 (2008, 4),
 (1999, 4),
 (2017, 4),
 (2010, 3),
 (1998, 3),
 (2014, 3),
 (2000, 3),
 (1997, 3),
 (2009, 3),
 (2015, 3),
 (1980, 3),
 (2019, 3),
 (2012, 3),
 (2004, 3),
 (2016, 3),
 (2002, 3),
 (2003, 3),
 (2018, 3),
 (1995, 2),
 (2006, 2),
 (1993, 2),
 (1991, 2),
 (1976, 2),
 (1977, 1),
 (1990, 1),
 (2021, 1),
 (1972, 1),
 (1974, 1),
 (1985, 1),
 (1973, 1),
 (1982, 1),
 (1979, 1),
 (1986, 1),
 (1984, 1),
 (1983, 1),
 (1942, 1),
 (1941, 1),
 (1960, 1),
 (1958, 1),
 (1954, 1),
 (1957, 1),
 (2007, 1),
 (2011, 1)]

7. ¿Cuál es el año con más películas en la base de datos

In [50]:
mycursor.execute("""SELECT year, COUNT(idFilm) as amount
                    FROM films
                    GROUP BY year
                    ORDER BY amount desc LIMIT 1;"""
                 )
myresult = mycursor.fetchall()
myresult

[(2001, 5)]

8. Obtén un listado de todos los géneros y cuántas películas corresponden a cada uno.

In [51]:
mycursor.execute("""SELECT genre, COUNT(idFilm) as amount
                    FROM films
                    GROUP BY genre
                    ORDER BY amount desc"""
                 )
myresult = mycursor.fetchall()
myresult

[('Drama', 27),
 ('Ciencia ficción', 13),
 ('Acción', 9),
 ('Animación', 9),
 ('Crimen', 7),
 ('Terror', 7),
 ('Thriller', 6),
 ('Fantasía', 5),
 ('Romance', 3),
 ('Aventura', 3),
 ('Biografía', 3),
 ('Bélico', 2),
 ('Suspense', 2),
 ('Western', 2),
 ('Musical', 1),
 ('Comedia', 1)]

9. Muestra todas las películas cuyo título contenga la palabra "Godfather" (puedes usar cualquier palabra).

In [ ]:
mycursor.execute("""SELECT * 
                    FROM films
                    WHERE title LIKE '%Godfather%'"""
                 )
myresult = mycursor.fetchall()
myresult

[(1, 'The Godfather', 1972, 175, 'Crimen', 0),
 (2, 'The Godfather Part II', 1974, 202, 'Crimen', 0)]