# Ejercicio 1

## Creación de una bases de datos de películas extraídas de un API

En este ejercicio vamos a poner en práctica lo que hemos aprendido sobre la extracción de contenido de APIs y la creación de una base de datos con sus tablas. Siguiendo las fases propuestas, conseguiremos extraer datos de películas, almacenarlos en un DataFrame y finalmente crear una base de datos con la estructura adecuada.

Fase 1: Extracción de datos de películas

Nuestro primer objetivo es extraer los datos de películas de la API. En Adalab nos hemos creado un API
muy sencilla que contiene la siguiente información:
Datos a extraer:
- Título
- Año de lanzamiento
- Duración (en minutos)
- Género
- Contenido para adultos (sí o no)


El objetivo es extraer 100 películas de esta API utilizando el siguiente endpoint:
https://beta.adalab.es/resources/apis/pelis/pelis.json

In [4]:
import requests
import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error

In [11]:
url_pelis = "https://beta.adalab.es/resources/apis/pelis/pelis.json"
pelis = requests.get(url_pelis)

In [12]:
pelis.status_code

200

In [ ]:
datos_pelis = pelis.json()
datos_pelis

# Inserción de los Datos en la Base de Datos

En este apartado vamos a realizar la inserción de los datos extraídos en las tablas creadas en nuestra base de datos MySQL.

In [42]:
try:
    cnx = mysql.connector.connect(
        host='localhost',
        user='root',
        password='AlumnaAdalab',
    )
    print('Conexión exitosa')
except Error as e:
    print('Error al conectar:', e)

try:
    mycursor = cnx.cursor()
    query = "CREATE DATABASE IF NOT EXISTS pelis_db"
    mycursor.execute(query)
    print("Query exitosa")
except:
    print("Error.")

Conexión exitosa
Query exitosa

In [50]:
mycursor.execute("USE pelis_db")

query = '''CREATE TABLE films(
	ID_film INT,
    title VARCHAR(70) NOT NULL,
    runtime INT,
    genre VARCHAR(45),
    rating_18 BOOLEAN,
    PRIMARY KEY (id_film)
);'''
mycursor.execute(query)

In [51]:
mycursor.execute("USE pelis_db")
query = '''CREATE TABLE subt_language(
    ID_language INT NOT NULL,
    subt_language VARCHAR(45) UNIQUE NOT NULL,
    PRIMARY KEY (ID_language)
);'''
mycursor.execute(query)

In [52]:
mycursor.execute("USE pelis_db")

query = '''CREATE TABLE subtitles_films(
    ID_film INT NOT NULL,
    ID_language INT NOT NULL,
    PRIMARY KEY (ID_film, ID_language),
    FOREIGN KEY (ID_film) REFERENCES films(ID_film),
    FOREIGN KEY (ID_language) REFERENCES subt_language(ID_language)
);'''

mycursor.execute(query)

In [ ]:
# Si se ponen las 3 juntas fallan, sin embargo por separado funcionan correctamente

mycursor.execute("USE pelis_db")

query = '''CREATE TABLE films(
	ID_film INT,
    title VARCHAR(70) NOT NULL,
    runtime INT,
    genre VARCHAR(45),
    rating_18 BOOLEAN,
    PRIMARY KEY (id_film)
);'''

query = '''CREATE TABLE subt_language(
    ID_language INT NOT NULL,
    subt_language VARCHAR(45) UNIQUE NOT NULL,
    PRIMARY KEY (ID_language)
);'''

query = '''CREATE TABLE subtitles_films(
    ID_film INT NOT NULL,
    ID_language INT NOT NULL,
    PRIMARY KEY (ID_film, ID_language),
    FOREIGN KEY (ID_film) REFERENCES films(ID_film),
    FOREIGN KEY (ID_language) REFERENCES subt_language(ID_language)
);'''

mycursor.execute(query)